* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    background-color: #41ef58;
}

#page1 {
    background-color: #41ef58;
    height: 100%;
}

#witbugIMG {
    margin-top: 10%;
    align-content: center;
    width: 60%;
    height: 60%;
}
#witbugIMG1 {
    margin-top: 0;
    align-content: center;
    width: 90%;
}


/*HOME PAGE CSS*/

.icon-bar {
    width: 100%;
    background-color: white;
    position: fixed;
    margin-top: -80px;
    height: 11%;
    z-index: 2;
   
}


    .icon-bar a {
        
        float: right;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: white;
        font-size: 37px;
    }

        .icon-bar a:hover {
            background-color: #000;
        }

.active {
    background-color: #41ef58 !important;
}

/*SIDE PANNEL*/


.sidenav {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
}
#navOption {
    margin-left: -500%;
    
}

    .sidenav a {
        padding: 8px 8px 8px 0;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        clear: right;
        display: block;
        transition: 0.3s
    }

        .sidenav a:hover, .offcanvas a:focus {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
    float: left;
    height: 75px;
    width: 75px;
    margin-top: -22%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}


















        










    /*SLIDESHOW ACTIVITIES*/

    * {
        box-sizing: border-box
    }


    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        padding-top: 20px;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: #41ef58;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

    .text {
        color: black;
        font-size: 15px;
        padding-top: -70px;
        position: absolute;
        bottom: 60px;
        width: 100%;
        text-align: center;
    }

    .text1 {
        color: white;
        font-size: 15px;
        padding-top: -70px;
        position: absolute;
        bottom: 60px;
        width: 100%;
        text-align: center;
    }

    .text2 {
        color: #03fe35;
        font-size: 15px;
        padding-top: -70px;
        position: absolute;
        bottom: 60px;
        width: 100%;
        text-align: center;
    }

    .dot {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .dotz {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .dotzz {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }





#hide {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#wrong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

